@model UniversityViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You want To Delete This University?</h1>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input class="form-control" asp-for="Title" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input class="form-control" asp-for="Address" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="Founded" class="form-label"></label>
        <input class="form-control" asp-for="Founded" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="Sector" class="form-label"></label>
        <select class="form-control" asp-for="Sector" asp-items="Html.GetEnumSelectList<Sector>()" disabled>
            <option selected="selected" value="">Please Select</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Website" class="form-label"></label>
        <input class="form-control" asp-for="Website" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="StudentCount" class="form-label"></label>
        <input class="form-control" asp-for="StudentCount" disabled>
    </div>
    <div class="mb-3">
        <label asp-for="About_en" class="form-label"></label>
        <textarea class="form-control" asp-for="About_en" disabled></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="About_fa" class="form-label"></label>
        <textarea class="form-control" asp-for="About_fa" disabled></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="SchoolType" class="form-label"></label>
        <select class="form-control" asp-for="SchoolType" asp-items="Html.GetEnumSelectList<SchoolType>()" disabled>
            <option selected="selected" value="">Please Select</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Cities" class="form-label">City</label>
        <select class="form-control" asp-for="City" asp-items="@(new SelectList(Model.Cities, "Name", "Name"))" disabled>
            <option selected="selected" value="">Please Select</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="UniLogo" class="form-label"></label>
        <input class="form-control" asp-for="UniLogo" disabled>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="ActiveInSearch" disabled>
        <label class="form-check-label" asp-for="ActiveInSearch" ></label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="ActiveInNewApps" disabled>
        <label class="form-check-label" asp-for="ActiveInNewApps"></label>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger" asp-controller="Universities" asp-action="Delete" 
        asp-route-id="@Model.Id">Yes</button>
    <button class="btn btn-success" asp-controller="Universities" asp-action="Index">No</button>
</form>
