@model Speciality
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name_en" class="form-label"></label>
        <input class="form-control" asp-for="Name_en">
    </div>
    <div class="mb-3">
        <label asp-for="Name_fa" class="form-label"></label>
        <input class="form-control" asp-for="Name_fa">
    </div>
    <input type="hidden" class="form-control" asp-for="Id">
    <input type="hidden" class="form-control" asp-for="StudyFieldId">
    <button type="submit" class="btn btn-success" asp-controller="Specialities" asp-action="Edit">Edit</button>
</form>