@model Country
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
    </div>
        <input type="hidden" class="form-control" asp-for="Id">
    <button type="submit" class="btn btn-success" asp-controller="Countries" asp-action="Edit">Edit</button>
</form>